
body 
{
    font-family: 'Inconsolata', monospace;
}

h1
{
    text-align: center;
    position: relative;
    font-family: 'Inconsolata', monospace;
}

h1.homeTitle
{
    text-align: center;
    position: relative;
    font-family: 'Inconsolata', monospace;
    font-size: 5em;
}

h2 
{
    text-align: center;
    position: relative;
}

/* Instructions */
.instruction 
{
    padding-left: 1em;
    padding-right: 1em;
}
h3.instruction 
{
    text-align: center;
    position: relative;
}

p.instruction
{
    text-align: center;
    
}



p.links
{
    text-align: center;
    position: relative;
    
}

p.contacts 
{
    text-align: center;
    position: relative;
}