
body 
{
    font-family: 'Inconsolata', monospace;
}

h1 
{
    text-align: center;
    position: relative;
    font-family: 'Inconsolata', monospace;
    font-size: 5em;
}

h2 
{
    text-align: center;
    position: relative;
}

p.links
{
    text-align: center;
    position: relative;
    
}

p.contacts 
{
    text-align: center;
    position: relative;
}