
body 
{
    font-family: 'Inconsolata', monospace;
}

.content 
{
    max-width: 40em;
    margin: 0 auto;
}

#sector
{
    padding-top: 3em;
    padding-bottom: 3em;
}

.header
{
    text-align: center;
    position: relative;
}

h1
{
    text-align: center;
    position: relative;
    font-family: 'Share Tech', sans-serif;
}

h1.homeTitle
{
    text-align: center;
    position: relative;
    font-family: 'Share Tech', sans-serif;
    font-size: 5em;
}

h2 
{
    font-family: 'Share Tech', sans-serif;
    text-align: center;
    position: relative;
}

/* Instructions */
.instruction 
{
    padding-left: 1em;
    padding-right: 1em;
}
h3.instruction 
{
    text-align: center;
    position: relative;
}

p.text 
{
    text-align: center;
}

p.justifyText
{
    text-align: justify;
}

p.links
{
    text-align: center;
    position: relative;
    
}

a.links:link
{
    color: #19334d;
}

p.contacts 
{
    text-align: center;
    position: relative;
}
